<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Form Upload template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/css/intlTelInput.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.2/js/intlTelInput.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>


    <style>
        body {
         background-color : #E0E0E0;}
        .container{
        padding-left : 200px;
        padding-right : 200px;
        padding-top: 20px;

        }

        .frame{
        text-align : center;
        font-family:"Verdana";

        background-color : white;
         padding-left :     10px;
        padding-right : 10px;
        padding-bottom : 10px;
        padding-top: 10px;}

        .image-upload-wrap {


  margin-top: 20px;
  border: 2px dashed #E0E0E0;
  position: relative;
}

.image-upload-wrap:hover {
  background-color: #E0E0E0;
  border: 2px dashed #A0A0A0;
}
.file-upload-input {
 position : absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}
.drag-text {
  text-align: center;
  font-weight: 80;
  text-transform: uppercase;

  padding: 60px 0;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  padding: 60px 0;
}

    </style>
</head>
<body>

    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Pdf2Word Converter</a>

                <img src="myconv/pdf2word/static/pdf.png" style="width:100px;height:100px;display: block;
  margin-left: 280px;
  margin-right: auto;
  width: 20%;" alt="image">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="">Home</a></li>
                        <li><a class="nav-link" href="">About</a></li>

						<li><a class="nav-link" href="">Contact us</a></li>
                    </ul>
                </div>
                <!--       <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="../images/search_icon.png" alt="#" />
                    </a>
                </div> -->
            </div>
        </nav>
    </header>

<div class="container" >

    <div class="frame">
        <form method="POST" enctype="multipart/form-data">
       <h2> Pdf Converter </h2><br>

    <div class="image-upload-wrap">
    <label for="1" class="drag-text nav-link active">
      Drag and drop a file

        {% csrf_token %}
            {{form.file}}
    </label>




   <!-- <input id="1" class="file-upload-input" value="Hi" type='file' onchange="readURL(this);" accept="image/*" />  -->

    </div>
            <br>
        <button class="btn" type="submit" style="background-color:#E0E0E0;">Convert</button>

</form>
        <div class="add" id="3"></div>

    </div>

</div>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>

function readURL(event){
      if(event.target.files.length > 0){
        let src = URL.createObjectURL(event.target.files[0]);
        let preview = document.getElementById("1");
        preview.src = src;
        preview.style.display = "block";
      }
      }

const fileInput = document.getElementById('1');
fileInput.onchange = () => {
  const selectedFile = fileInput.files[0];
  console.log(selectedFile);

  var div = document.createElement('div');
  let src = URL.createObjectURL(event.target.files[0]);
  let s1 = '<i class="fa fa-paperclip" aria-hidden="true"><a href=';
  let s2 = ">";
  let s3 = "</a></i>";
  let s4 = s1.concat(src);
  let s5 = s4.concat(s2);
  let s6 = s5.concat(event.target.files[0].name);
  let s7 = s6.concat(s3);
  div.innerHTML = s7;
  div.id = '6';

  var drc = document.getElementById('3');
  removeAllChildNodes(drc);
  drc.appendChild(div);



}

function removeAllChildNodes(parent) {
    while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
    }
}

function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
    $('.image-upload-wrap').addClass('image-dropping');
  });
  $('.image-upload-wrap').bind('dragleave', function () {
    $('.image-upload-wrap').removeClass('image-dropping');
});
</script>

</body>
</html>